name: Documentation MkDocs

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'custom_components/**/*.py' # Si le code change
      - 'docs/**'                   # Si le texte change
      - 'mkdocs.yml'                # Si la config change

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          pip install mkdocs-material mkdocstrings[python]

      - name: Configure Git User
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
